{% extends 'base.html' %}

{% block content %}
  <div class="shoe-detail">
    <div class="shoe-image">
        <div class="image-frame">
          <img src="{{ shoe.image_url }}" alt="{{ shoe.name }}">
        </div>
    </div>
    <div class="shoe-info">
        <h1 class="title is-4">{{ shoe.name }}</h1>
        <p>Brand: {{ shoe.brand }}</p>
        <p>Size: {{ shoe.size }}</p>
        <p>Price: ${{ shoe.price }}</p>
        <p class="description">{{ shoe.description }}</p>
    </div>
    {% if shoe.user == request.user %}
    <div class="button-group">
        <a href="{% url 'shoe_update' shoe.pk %}" class="button is-info">Update Shoe</a>
        <a href="{% url 'shoe_delete' shoe.pk %}" class="button is-danger">Delete Shoe</a>
    </div>
    {% endif %}
  </div>
{% endblock %}
